In [2]:
import pandas as pd
import googlemaps
import json
import datetime

In [17]:
df1 = pd.read_csv("/Users/barnitorzsok/Documents/GitHub/HTM_Seminar/data/inputs/cleaned/HTM_CompleteData.csv")
df2 = pd.read_csv("/Users/barnitorzsok/Documents/GitHub/HTM_Seminar/data/inputs/cleaned/HTM_CollapsedData.csv")

df1.head()

,Route,ID_MAXIMO,Order,Name,Dova_code,Night_shift,longitude,latitude,ID
0,NaN,Depot,0,NaN,NaN,NaN,4.348949,52.065385,0
1,REI-D101,HLS0138,1,Ypenburgseboslaan,NL:Q:42012501,0.0,4.376993,52.050768,1
2,REI-D101,HLS0140,2,Ypenburgseboslaan,NL:Q:42012601,0.0,4.370949,52.046627,2
3,REI-D101,HLS0172,3,Ypenburgseboslaan,NL:Q:42015902,0.0,4.364700,52.043238,3
4,REI-D101,HLS0131,4,Brasserkade 223,NL:Q:42011202,0.0,4.362007,52.027790,4

In [18]:
df1["Route"].value_counts()

Route
REI-D201    32
REI-D103    29
REI-D116    28
REI-D202    28
REI-D203    28
REI-D107    26
REI-D112    26
REI-D301    26
REI-D101    25
REI-D102    25
REI-D106    25
REI-D115    25
REI-N104    25
REI-N105    25
REI-D113    24
REI-N117    24
REI-N122    24
REI-D108    23
REI-D302    23
REI-N102    23
REI-N110    23
REI-N111    23
REI-N113    23
REI-D205    22
REI-D303    22
REI-N101    22
REI-N103    22
REI-N112    22
REI-N115    22
REI-N116    22
REI-N118    22
REI-N120    22
REI-D104    21
REI-D109    21
REI-D204    21
REI-N108    21
REI-D105    20
REI-D111    20
REI-D114    20
REI-N106    20
REI-N107    20
REI-N109    20
REI-N123    20
REI-N119    18
REI-N201    18
REI-D110    17
REI-N114    17
REI-D304    15
REI-N202    13
REI-N121    12
Name: count, dtype: int64

In [19]:
df2["Route"].value_counts()

Route
REI-D103    29
REI-D201    29
REI-D116    27
REI-D202    27
REI-D107    26
REI-D203    26
REI-D101    25
REI-D102    25
REI-D106    25
REI-D112    24
REI-D113    24
REI-N122    24
REI-D301    23
REI-N104    23
REI-D108    22
REI-D115    22
REI-D302    22
REI-D303    22
REI-D104    21
REI-D109    21
REI-N102    21
REI-N105    21
REI-D111    20
REI-D114    20
REI-N101    20
REI-N103    20
REI-N106    20
REI-N108    20
REI-N123    20
REI-D204    19
REI-N110    19
REI-N113    19
REI-N115    19
REI-N116    19
REI-D205    18
REI-N109    18
REI-D105    17
REI-D110    17
REI-N117    17
REI-N118    17
REI-N201    17
REI-N111    16
REI-N114    15
REI-N107    14
REI-N112    14
REI-D304    13
REI-N120    12
REI-N121    12
REI-N202    12
REI-N119    10
Name: count, dtype: int64

In [4]:
reference_departure_time = datetime.datetime(2026, 2, 3, 15)
depot_lat = 0.0
depot_long = 0.0

In [5]:
df = pd.read_excel("/Users/barnitorzsok/Documents/GitHub/HTM_Seminar/data/inputs/raw/Data_POH_5WK_REINIGEN_ABRI_EN_HEKWERK.xlsx", sheet_name=["Dagroutes", "Nachtroutes", "Halteinfo"])
df_stops = df["Halteinfo"]

In [6]:
df_stops.head()

,OBJECTID,ID_MAXIMO,AREACODE,HALTENAAM,NLQNR,INSTAP_PWD_NOV_ALLE_PERRONS_19,MAX_INSTAP_PWD_DRUKSTE_UUR_19,MAX_INSTAP_PWD_24,MAAND_MAX_PWD_24,MAX_INSTAP_PWD_DRUKSTE_UUR_24,...,CODE_VISUALISATIE,CRITERIUM_OVERSTAP,CRITERIUM_RECREATIE,CRITERIUM_WIJK,CRITERIUM_SEIZOEN,AANTAL_INWONERS,INSTAPPERS,INST_INW,latitude,longitude
0,1,HLT0204,201,Kurhaus,NL:Q:32000204,1757.0,486.0,437,1717200000000,77,...,20111,NaN,NaN,Aan fietsroute,Spreiding instappers/maand,4091.0,153.142857,0.0374,52.113567,4.283832
1,2,HLT0221,221,Gentsestraat,NL:Q:32000221,330.0,45.0,324,1733011200000,48,...,30000,NaN,NaN,NaN,NaN,5689.0,53.904762,0.0095,52.110579,4.290129
2,3,HLT0225,225,Doorniksestraat,NL:Q:32000225,83.0,16.0,100,1730419200000,23,...,30000,NaN,NaN,NaN,NaN,2711.0,15.047619,0.0056,52.110126,4.296792
3,4,HLT0305,305,Badhuisweg,NL:Q:32000305,19.0,3.0,44,1717200000000,20,...,30000,NaN,NaN,NaN,NaN,907.0,0.857143,0.0009,52.102773,4.300974
4,5,HLT0312,311,Plesmanweg,NL:Q:32000312,35.0,5.0,104,1725148800000,71,...,30000,NaN,NaN,NaN,NaN,558.0,2.428571,0.0044,52.100737,4.301488

In [7]:
maps_key = "AIzaSyA7zbsadbUBeP2g2-g4fom1Sl0cVFUPl54"
gmaps = googlemaps.Client(key=maps_key)

In [10]:
dist = gmaps.distance_matrix([(52.113567, 4.283832), (52.110579, 4.290129), (52.110126, 4.296792)], [(52.113567, 4.283832), (52.110579, 4.290129), (52.110126, 4.296792)], mode="driving")

In [11]:
dist

{'destination_addresses': ['Kurhaus, Koningin Julianaplein 10, 1st floor, 2595 AA Den Haag, Netherlands',
  "'s-Gravenhage, Gentsestraat, 2587 HL Den Haag, Netherlands",
  "'s-Gravenhage, Doorniksestraat, 2587 HZ Den Haag, Netherlands"],
 'origin_addresses': ['Kurhaus, Koningin Julianaplein 10, 1st floor, 2595 AA Den Haag, Netherlands',
  "'s-Gravenhage, Gentsestraat, 2587 HL Den Haag, Netherlands",
  "'s-Gravenhage, Doorniksestraat, 2587 HZ Den Haag, Netherlands"],
 'rows': [{'elements': [{'distance': {'text': '1 m', 'value': 0},
     'duration': {'text': '1 min', 'value': 0},
     'status': 'OK'},
    {'distance': {'text': '2.0 km', 'value': 1970},
     'duration': {'text': '4 mins', 'value': 242},
     'status': 'OK'},
    {'distance': {'text': '1.6 km', 'value': 1553},
     'duration': {'text': '3 mins', 'value': 195},
     'status': 'OK'}]},
  {'elements': [{'distance': {'text': '0.8 km', 'value': 784},
     'duration': {'text': '2 mins', 'value': 143},
     'status': 'OK'},
    {'distance': {'text': '1 m', 'value': 0},
     'duration': {'text': '1 min', 'value': 0},
     'status': 'OK'},
    {'distance': {'text': '0.7 km', 'value': 710},
     'duration': {'text': '2 mins', 'value': 100},
     'status': 'OK'}]},
  {'elements': [{'distance': {'text': '1.4 km', 'value': 1449},
     'duration': {'text': '4 mins', 'value': 220},
     'status': 'OK'},
    {'distance': {'text': '0.7 km', 'value': 710},
     'duration': {'text': '2 mins', 'value': 101},
     'status': 'OK'},
    {'distance': {'text': '1 m', 'value': 0},
     'duration': {'text': '1 min', 'value': 0},
     'status': 'OK'}]}],
 'status': 'OK'}

In [33]:
dist["rows"][0]["elements"][1]["duration"]["value"]

242

In [23]:
with open("/Users/barnitorzsok/Documents/GitHub/HTM_Seminar/data/inputs/cleaned/trial.json", "w") as f:
    json.dump(dist, f, indent=4)

In [6]:
locations = list(df_stops["ID_MAXIMO"])
locations.insert(0, "depot")
coordinates = list(zip(df_stops.latitude, df_stops.longitude))
coordinates.insert(0, (depot_lat, depot_long))

print(coordinates[:5])

# distance_info = gmaps.distance_matrix(
#     coordinates,
#     coordinates,
#     mode="driving",
#     departure_time=reference_departure_time,
#     traffic_model="pessimistic")

# distance_info["destination_addresses"] = locations
# distance_info["origin_addresses"] = locations

# with open("/Users/barnitorzsok/Documents/GitHub/HTM_Seminar/data/inputs/cleaned/trial.json", "w") as f:
#     json.dump(distance_info, f, indent=4)

[(0.0, 0.0), (52.113566970972, 4.2838323827641), (52.1105794052888, 4.29012867864292), (52.1101260213315, 4.29679152688367), (52.1027728036548, 4.30097423457466)]